/*****************************/
  /* main.module.css */
  .Main {    
    display: flex;
    flex-direction: column;   
    background-color: #130429;
    color: #29f5c7; 
    width: 90%;
    margin: 50px auto;
    border-radius: 50px;
    box-shadow: 4px 8px #29f5c7 , -1em  2em  #9c96af;
} 

.divH1{
    margin: 0 0 2% 5%;

} 
.div1 {
    font-size: 3em;
    font-weight: bold;
    color: #9fc6d4;   
   
    margin: 0 0  2% 5%;
}

.div2 {
    width: 100%;
    font-size: 3.5em;
    color: #7aa7b7;
    margin: 0 0  2% 5%;
   
}



p {
    font-size: 1.2rem;
    margin: 0 0  2% 6%;
    padding: 5px;
    
    color: #a6bec7;;
}


.detailButton {
    width: 20%;
    background-color: #130429;

    color: #29f5c7;
    border: solid #29f5c7;
    margin: 0 0 5% 6%;
    padding: 0.3rem 0.5rem;

    font-size: 2rem;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
   text-decoration: none;
    
}

.detailButton:hover {
    background-color: #0056b3;
}
.detailButton::after {
    content: "→";
    margin-left: 5px;
}

/* Media Query pour écran jusqu'à 768px */
@media screen and (max-width: 1200px) {  
    
    .div1 {
        font-size: 4vw;
    }
    .div2 {
        font-size: 4vw;
    }  
    p {
        font-size: 1rem;
        margin: 20px;
        color: #e6e4ee;}
        .detailButton {
            width: 30%;
        }
}


/* Media Query pour écran jusqu'à 768px */
@media screen and (max-width: 768px) {  
    .div1 {
        font-size: 7vw;
    }
    .div2 {
        font-size: 8vw;
    }   

    .detailButton {
        padding: 1vw 2vw;
        font-size: 3vw;
    }
    p {
        font-size: 1rem;
        margin: 20px;
        color: #e6e4ee;}
        .detailButton {
            width: 30%;
        }
}
