header{
    width: 100%;
    height: 50px;    
    display: flex;
    justify-content: space-between;
    align-items: center;      
    font-family: Georgia, 'Times New Roman', Times, serif;   
}

.droite{
    color: #29f5c7;
    display: flex;   
    align-items: center;
}

.droite h1{
    font-size:2vw ;
}

.droite .imag{
    width : 40px;
    height: 30px;
    border-radius: 50%;
    padding: 20px;
   
}
nav{    
    width: 40%;
   
    display: flex;   
    justify-content:space-evenly;
    
    
}
span {
    color: #29f5c7;
    font-weight: bold;
  }
  li :any-link{
    color: #7aa7b7;
  }
  


 
 
.navList {
    list-style: none;
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  .navToggle {
    display: none;
  }
  
  .navItem {
    margin-right: 1vw;
    color: #eef7f5;
  }
  li a{
    text-decoration: none;
   
  }
  .resume {
    margin-right: 1rem;
    padding: 5px 10px;
    color: #29f5c7;
    border: solid #29f5c7;
    border-radius: 10px; 
       background-color: #130429;      
    cursor: pointer;   
    transition: background-color 0.3s ease;

  }
  .resume:hover{
    background-color: #0056b3;
  }
  .actif{
    color: #fff;
  }
 
  
  @media screen and (max-width: 768px) {
    nav {
      display: none;
    }
    .navList {
        
        display: flex;
        justify-content: space-evenly;     

    }
    nav {
        
        padding: 10px;
    }
    .nav.active {
       
        display: block;      
        position: absolute;
      font-size: 14px;
      top: 40px;
      right: 20px;
      
      width: 80%;
      background-color: #130429;
      padding: 1rem;
      border-radius: 8px;
      border: solid #29f5c7;
    }
  
  
    .navToggle {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0 ;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 40px;
      height: 30px;
      position: relative;
      margin: 0 50px;
    }
  
    .bar {
      width: 100%;
      height: 3px;
      background-color: #29f5c7;
      transition: transform 0.3s, opacity 0.3s;
    }
  
    .active .bar:nth-child(1) {
      transform: translateY(2px) rotate(45deg);
    }
  
    .active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .active .bar:nth-child(3) {
      transform: translateY(-18px) rotate(-45deg);
    }
  }
  .navItem a {
    color: #29f5c7;
  }
  
 .navItem .actif{
  color: white;

 }

  
  
  
  
  